.About {
}

.boom {
  height: 130px;
  width: 130px;
  background-image: url("../../imgs/boom.png");
  background-position: 0 0;
  transition: none;
}

.0 {
  background-position: 0 0;
}
.1 {
  background-position: -130px 0;
}
.2 {
  background-position: -260px 0;
}
.3 {
  background-position: -390px 0;
}
.4 {
  background-position: -520px 0;
}
.5 {
  background-position: 0 -130px;
}
.6 {
  background-position: -130px -130px;
}
.7 {
  background-position: -260px -130px;
}
.8 {
  background-position: -390px -130px;
}
.9 {
  background-position: -520px -130px;
}
.10 {
  background-position: 0 -260px;
}
.11 {
  background-position: -130px -260px;
}
.12 {
  background-position: -260px -260px;
}
.13 {
  background-position: -390px -260px;
}
.14 {
  background-position: -520px -260px;
}
.15 {
  background-position: 0 -390px;
}
.16 {
  background-position: -130px -390px;
}
.17 {
  background-position: -260px -390px;
}
.18 {
  background-position: -390px -390px;
}
.19 {
  background-position: -520px -390px;
}
.20 {
  background-position: 0 -520px;
}
.21 {
  background-position: -130px -520px;
}
.22 {
  background-position: -260px -520px;
}
.23 {
  background-position: -390px -520px;
}
.24 {
  background-position: -520px -520px;
}
.25 {
  background-position: -520px -520px;
}
