.button {
  padding: 10px 20px;
  background-color: #118dff;
  border: 1px solid wheat;
  box-shadow: 0 0 10px 0 white;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}
