.Header {
  background-color: #118dff;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > * {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.HeaderRed {
  background-color: red;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > * {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
