.SideBar {
  width: 300px;
  background-color: #38373c;
  box-shadow: 0 0 20px -4px black;
  z-index: 10;

  .img {
      position: absolute;
      z-index: -1;
    width: 300px;
    height: 500px;
    object-position: 0 -10px;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, rgba(56, 55, 60, 0.8) 60%, #38373c 100%), url("../../imgs/avatar.jpg");
      background-size: cover;
  }
}

.wrapper {
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.wrapper.content {
    margin-top: 310px;
}

.fio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  margin: 8px 0;

  .firstName {
    font-size: 26px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .lastName {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .position {
    margin-top: 8px;
  }
}
